html {
  margin: 100px;
}

h1 {
  font-family: Bebas Neue;
  font-size: 80px;
  line-height: 1;
}

p {
  font-family: Bebas Neue;
  font-size: 45px;
  line-height: .3;
}

button {
  background-color: #b4da55;
  font-size: 45px;
  box-shadow: 8px 8px;
  margin-right: 50px;
}

.shhh {
  background-color: #222;
  color: #fffeff;
  font-family: Bebas Neue;
  font-size: 150px;
}

input {
  font-size: 60px;
}

.name {
  color: #b4da55;
}

.textUpdate {
  margin: 40px 0;
}

.greaterLesser {
  background-color: black;
  color: #b4da55;
  text-align: center;
}

.boxes {
  display: flex;
}

.demo {
  width: 100px;
  height: 100px;
  background-color: #b4da55;
  display: inline-block;
  margin: 10px;
  margin-right: 40px;
}

.red {
  background-color: darkred;
}

.showBox {
  height: 400px;
  width: 100%;
}