html {
  margin: 100px;
}

h1 {
  font-family: Bebas Neue;
  font-size: 80px;
}

p {
  font-family: Bebas Neue;
  font-size: 45px;
}

button {
  background-color: #b4da55;
  font-size: 45px;
  box-shadow: 8px 8px;
  margin-right: 50px;
}

.shhh {
  background-color: #222;
  color: #fffeff;
  font-family: Bebas Neue;
  font-size: 150px;
}

input {
  font-size: 60px;
}

.name {
  color: #b4da55;
}

.textUpdate {
  margin: 40px 0;
}

.greaterLesser {
  background-color: black;
  color: #b4da55;
  text-align: center;
}